<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2 class="about-info-h2">About Us</h2>
            <p class="about__text about__text--last">We are part of the global network <a href="https://codeforall.org" class="active-link" target="_blank">Code for All</a> which is an international network of civic tech organizations that drive change through digital technology, citizen participation,
                collaborative decision-making and good governance to deliver solutions for social challenges while improving the relationship between governments and citizens.</p>
            <p class="about__text about__text--last">Code for Singapore believes that digital technology can empower non-profits and be used to solve the gaps in society.</p>
            <h2 class="about-info-h2">Code for Singapore's Mission</h2>
            <p class="about__text about__text--last">
                To empower non-profits with the necessary technology and deliver solutions for social change through the lens of technology.
            </p>
            <h2 class="about-info-h2">Our Vision</h2>
            <p class="about__text about__text--last">
                Technology for social good
            </p>
        </div>
    </div>
    <br/>
    <div class="our-values">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="our-values-h1">Our Values</h1>
                </div>
                <div class="w-100"></div>
                <div class="col-8 col-md-4 col-lg-4 offset-2 offset-lg-0 offset-md-1 ">
                    <div class="value">
                        <div class="values-illustration collaboration"></div>
                        <h3 class="value-h3">Collaboration</h3>
                        <p class="value-p">We learn from each other, provide mentor-ship and expertise</p>
                    </div>
                </div>
                <div class="col-8  col-md-4 col-lg-4 offset-2 offset-lg-0 offset-md-1">
                    <div class="value">
                        <div class="values-illustration support"></div>
                        <h3 class="value-h3">Support</h3>
                        <p class="value-p">We share lessons learned, provide mentorship and expertise</p>
                    </div>
                </div>
                <div class="col-8 col-md-4 col-lg-4 offset-2 offset-lg-0 offset-md-1">
                    <div class="value">
                        <div class="values-illustration democracy nopeness"></div>
                        <h3 class="value-h3">Openness</h3>
                        <p class="value-p">We make decisions openly and transparently</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>