<!-- Community Section -->
<section id="community" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2 class="about-info-h2">Join the Community</h2>
            <p class="about__text about__text--last">The larger the community the more projects we can deliver for greater impact! Get involved in one of our projects, contribute to our forum, spread the word or sign up for our newsletter, whatever your level of commitment we welcome all to
                the community.</p>
            <p class="about__text about__text--last">See what we are working on by joining slack <a href="https://slack.codeforall.org/" class="active-link" target="_blank"><strong>#code-for-singapore</strong></a>
            </p>
        </div>
    </div>
    <br/>
    <div class="our-values">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="our-values-h1">Calling all...</h1>
                </div>
                <div class="w-100"></div>
                <div class="col-8 col-md-6 col-lg-3 offset-2 offset-lg-0 offset-md-1 ">
                    <div class="value">
                        <div class="values-illustration engineers"></div>
                        <h3 class="value-h3">Coders/Engineers</h3>
                        <p class="value-p">Bringing Ideas to Life</p>
                    </div>
                </div>
                <div class="col-8  col-md-6 col-lg-3 offset-2 offset-lg-0 offset-md-1">
                    <div class="value">
                        <div class="values-illustration designers"></div>
                        <h3 class="value-h3">Product Designers</h3>
                        <p class="value-p">The voice of the community</p>
                    </div>
                </div>
                <div class="col-8 col-md-6 col-lg-3 offset-2 offset-lg-0 offset-md-1">
                    <div class="value">
                        <div class="values-illustration projectManager"></div>
                        <h3 class="value-h3">Project Managers</h3>
                        <p class="value-p">Resource Planner / Facilitator</p>
                    </div>
                </div>
                <div class="col-8 col-md-6 col-lg-3 offset-2 offset-lg-0 offset-md-1">
                    <div class="value">
                        <div class="values-illustration ambassadors"></div>
                        <h3 class="value-h3">Ambassadors</h3>
                        <p class="value-p">Project Ambassador / Community builders / Social Media Specialists</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>