<!-- Community Section -->
<section id="faq" class="container content-section">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2 class="about-info-h2">Frequently Asked Questions (FAQ)</h2>
            <br />
            <p class="about__text about__text--last"><strong>Will this be done on a website?</strong></p>
            <p class="about__text about__text--last">Yes for now we are building a website to manage this, but it could evolve to an app in future.</p>
            <br />
            <p class="about__text about__text--last"><strong>How will getting seniors to share their experience help with their social isolation?</strong></p>
            <p class="about__text about__text--last">Studies show what benefits of contributing back, or volunteering has on the mental and emotional wellness of the elderly, or for that matter for any age group. We hope to solve social isolation by giving the elderly a chance to share what they have most which is experience.</p>
            <br />
            <p class="about__text about__text--last"><strong>Is this service free of charge?</strong></p>
            <p class="about__text about__text--last">Yes we intend this service to be free for all.</p>
            <br />
            <p class="about__text about__text--last"><strong>Who is running this?</strong></p>
            <p class="about__text about__text--last">Majority of us are working adults from various industries but mostly IT volunteering our time and skills in this project because we believe that Tech is an enabler for the good of society.</p>
            <br />
            <p class="about__text about__text--last"><strong>I am interested in participating, how do I sign up?</strong></p>
            <p class="about__text about__text--last">Follow the link to join <a href=https://docs.google.com/forms/d/e/1FAIpQLSc_A4xdJeqZIs4KDOcYw7M1tJLmilLvd0EBAEU_u1thLYhSYQ/viewform class="active-link" target="_blank">Coffee Talk</a></p>
        </div>
    </div>
    <br />
</section>