<!-- partners Section -->
<section id="partners" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2 class="about-info-h2">Our Partner Organizations</h2>
        </div>
    </div>
    <br/>
    <div class="our-values">
        <div class="container">
            <div class="row">
                <div class="w-100"></div>
                <div class="col-8 col-md-6 col-lg-4 offset-2 offset-lg-0 offset-md-1 ">
                    <div class="partner">
                        <div class="values-illustration IBM"></div>
                        <h3 class="value-h3"><a href="https://www.ibm.com/sg-en" class="active-link" target="_blank">IBM</a></h3>
                    </div>
                </div>
                <div class="col-8 col-md-6 col-lg-4 offset-2 offset-lg-0 offset-md-1 ">
                    <div class="partner">
                        <div class="values-illustration LCCL"></div>
                        <h3 class="value-h3"><a href="https://lcclcoding.com/" class="active-link" target="_blank">LCCL Coding Academy</a></h3>
                    </div>
                </div>
                <div class="col-8 col-md-6 col-lg-4 offset-2 offset-lg-0 offset-md-1 ">
                    <div class="partner">
                        <div class="values-illustration Code2Love"></div>
                        <h3 class="value-h3">Code to Love</a>
                        </h3>
                    </div>
                </div>
                <div class="col-8 col-md-6 col-lg-4 offset-2 offset-lg-0 offset-md-1 ">
                    <div class="partner">
                        <div class="values-illustration NVPC"></div>
                        <h3 class="value-h3"><a href="https://www.nvpc.org.sg/" class="active-link" target="_blank">NVPC</a></h3>
                    </div>
                </div>
                <div class="col-8 col-md-6 col-lg-4 offset-2 offset-lg-0 offset-md-1 ">
                    <div class="partner">
                        <div class="values-illustration ServiceHero"></div>
                        <h3 class="value-h3">Service Hero</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>