<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2 class="about-info-h2">Salt Rice</h2>
            <p class="about__text about__text--last">A continuance of Code For Singapore - Elderly in Singapore workshop series conducted by <a href="https://www.linkedin.com/company/thinkplace/" class="active-link" target="_blank">ThinkPlace</a>'s  <a href="https://www.linkedin.com/in/bill-bannear-5b2b324b/" class="active-link" target="_blank">Bill Bannear</a> and gelled together by <a href="https://www.linkedin.com/in/pei-chun-ko-777a1a33/" class="active-link" target="_blank">Pei-Chun Ko</a> and her team.
            <h2 class="about-info-h2">Salt Rice's Mission</h2>
            <p class="about__text about__text--last">
                Reducing social isolation in elderly by giving them the opportunity to share their life lessons with the community.
            </p>
        </div>
    </div>
    <br/>
    <div class="our-values">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="our-values-h1">The Problem</h1>
                </div>
                <div class="w-100"></div>
                <div class="col-8 col-md-6 col-lg-6 offset-2 offset-lg-0 offset-md-1 ">
                    <div class="value">
                        <div class="values-illustration oneIn2"></div>
                        <p class="value-p">In 2015, more than 1 in 2 Singaporeans aged 60 years and above reported being lonely</p>
                    </div>
                </div>
                <div class="col-8  col-md-6 col-lg-6 offset-2 offset-lg-0 offset-md-1">
                    <div class="value">
                        <div class="values-illustration oneIn5"></div>
                        <p class="value-p">Even among those living with families, 1 in 5 elderly above 75 in Singapore, exhibit signs of depression</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
</section>