<!-- Community Section -->
<section id="solution" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2 class="about-info-h2">The Solution</h2>
            <p class="about__text about__text--last">Giving the opportunity for the elderly to contribute their wisdom
                to the community.</p>
            <p class="about__text about__text--last">This has a positive impact on the mental health of the elderly.</a>
            </p>
            <p class="about__text about__text--last">Giving the community a chance to seek advice from elderly.</a>
            </p>
        </div>
    </div>
    <br />
    <div class="our-values">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="our-values-h1">How it works</h1>
                </div>
                <div class="w-100"></div>
                <div class="value">
                    <div class="values-illustration howDoesItWork"></div>
                </div>
                <div class="col-lg-8 col-lg-offset-2">
                    <h2 class="about-info-h2">Keen to Participate?</h2>
                    <br />
                    <p class="about__text about__text--last">If you have a question about life or a problem that you’re struggling to get answers to, send them via this link <a href=https://forms.gle/uNrUEcC3FmhQUfBG7 class="active-link" target="_blank">Community Questions</a></p>
                    <p class="about__text about__text--last">If you’re a senior who can provide wise counsel to others, fill out the form below (or direct them to live posts from the community which they can choose from) <a href=https://docs.google.com/forms/d/e/1FAIpQLSc_A4xdJeqZIs4KDOcYw7M1tJLmilLvd0EBAEU_u1thLYhSYQ/viewform class="active-link" target="_blank">Coffee Talk</a></p>
                    <br />
                </div> 
            </div>
        </div>
    </div>
</section>